body {
    font-family: Arial, sans-serif;
    text-align: center;
    
}

.quiz-container {
  border-radius:5px;
  color:#fefcff;
    background-color:red;
  width: 600px;
  height:600px;
    position: absolute;/* mover dive*/
    left:40px;/* mover div pros lados*/
    top:160px;/* mover div pra cima e para baixo */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 50px;
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
  
}

.b1{
  
  background-color: #8b9aff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  border-radius: 2px;
  border-color:#fefcff;
  border:solid 1px;
  position: absolute;
  top:285px;
  left:100px;
  height:30px;
}

button {
    background-color: #8b9aff;
    color: #fff;
    border: none;
    padding: 50px 100px;
    cursor: pointer;
  border-radius: 2px;
  border-color:#fefcff;
  border:solid 1px;
}

button:hover {
    background-color: black;
}

#result {
    font-weight: bold;
    margin-top: 10px;
}

#next {
    display: none;
}

#restart {
    display: none;
}


.fundo{
  background-color:#373636;
  position:absolute;
  left:174px;
  top:320px;
  border-radius:4px;
  border-color:#fefcff;
  color:#fefcff;
}




.hidden {
  display: none;
  
}

.photo1 {
  text-align: center;
  margin: 10px;
  left:-5px;
  position:absolute;
  top:330px;
  width: 400px;
  height: 350px;
  
}

.img1 {
  left:2px;
  position:absolute;
  top:50px;
  width: 115px;
  height: 115px;
  border-color: balck;
  border-radius: 5px;
  border:solid 2px;
}

.n1{
  left:38px;
  top:12px;
  position:absolute;
  }

.pt{
  
  font-size:50px;
}

.p1{
  left:40px;
  top:155px;
  position:absolute;
  }

.img2 {
  left:144px;
  position:absolute;
  top:50px;
  width: 115px;
  height: 115px;
  border-color: balck;
  border-radius: 5px;
  border:solid 2px;
}


.n2{
  left:163px;
  top:12px;
  position:absolute;
  }


.p2{
  left:185px;
  top:155px;
  position:absolute;
  }



.img3 {
  left:287px;
  position:absolute;
  top:50px;
  width: 115px;
  height: 115px;
  border-color: balck;
  border-radius: 5px;
  border:solid 2px;
}



.n3{
  left:330px;
  top:12px;
  position:absolute;
  }

.p3{
  left:323px;
  top:155px;
  position:absolute;
  }







#colorButton {
  background-color:#8b9acff;
  color: #fefcff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}



body {
  transition: background-color 0.3s;
  background-color: #fefcff;
}

.alt-color {
  background-color: #ff5733; /* Cor alternativa */
}



.hidden {
  display: none;
}

.button1{
  width: 100px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #8b9aff;
  color: #fefcff;
  text-align: center;
  line-height: 40px;
  transition: 0.2s;
  border-radius:83px;
  border-color: balck;
  border:solid 2px;
  position: 
}

#myButton:checked + .button1 {
  background-color:#fefcff;
  color: #8b9aff;
}


.imgfechar{
  position:absolute;
  top:13px;
  left:370px;
  width:30px;
  height: 30px;
  border-radius:2px;
  
}

.img4{
  position:absolute;
  top:12px;
  left:330px;
  width:33px;
  height:32px;
  border-radius:2px;
  
}

